/* Carousel.module.css */

.continuousCarousel {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease; /* Ajusta la duración según sea necesario */
}

.carousel-item {
  width: 100%;
  flex: 0 0 auto;
}
