.container {
  position: relative;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.crece {
  color: #fff;
  animation-name: crece;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes crece {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
